---
import Layout from '../layouts/Layout.astro';
import Project from '../components/Project.astro';
import About from '../components/About.astro';
import GitHub from '../components/icons/GitHub.astro';
---

<Layout title="MonssterDc">
	<main class=" m-auto flex flex-col items-center gap-16 p-3 md:w-[1200px]" >
	   <section class="flex gap-10 items-center md:mt-28 md:mb-18 mb-14 mt-16 md:flex-row flex-col">
			<img 
			class="rounded-full md:w-60 w-40"
			src="foto.webp" />
			<div class="flex gap-5 flex-col items-center md:items-start">
				<h1 class="md:text-5xl text-2xl font-bold md:w-[350px]">
					Front-End <span class='font-black text-transparent bg-clip-text bg-gradient-to-r from-indigo-600 to-purple-500'>Developer</span>
				</h1>
				<p class="md:w-[500px] text-lg">
					Conocido como el mejor desarrollador Front-End del mundo. Con conocimientos de backend
				</p>

				<a
				class="w-[202px] h-[42px] rounded p-px bg-gradient-to-b from-blue-800 to-purple-900  text-center hover:from-purple-400 hover:to-blue-400 transition duration-400"
				href='https://github.com/Yisuselpulento'
				target="_blank"
				rel="noreferrer noopener"
				>
				<div class="bg-black w-[200px] h-[40px] rounded flex items-center justify-center hover:bg-zinc-950  transition duration-200 font-bold gap-2">
					<GitHub  class="size-6"/>
					<p >Github</p>
				</div>
					
				</a>
			</div>
	   </section>
       <Project/>
	   <About />
	  
	</main>
</Layout>

