---
import User from "./icons/User.astro";
---

<section id="project" class="flex items-center flex-col gap-4 md:pt-20">
    <h2 class="flex gap-3 items-center text-2xl md:text-3xl  mb-8">
        <User class="w-8 "/> Experiencia</h2>
    <div class="flex gap-10 flex-wrap  items-center justify-center md:p-4">
       <p>- Trabaje unos meses en una pequeña empresa llamada Bull Investing desarrollandoles y manteniendoles su web oficial fullstack </p>

    </div>
</section>