---
import User from "./icons/User.astro";
---

<section id="project" class="flex items-center flex-col gap-4 md:pt-20">
    <h2 class="flex gap-3 items-center text-2xl md:text-3xl  mb-8">
        <User class="w-8 "/> Experiencia</h2>
    <div class="flex gap-10 flex-wrap  items-center justify-center md:p-4">
      <p>
        - Trabajé durante unos meses en una pequeña empresa llamada 
            <a 
            class="text-blue-500 hover:text-blue-400"
            href="https://bullinvesting.cl" target="_blank" rel="noopener noreferrer">
                bullinvesting.cl
            </a>, 
            desarrollando y manteniendo su página web oficial de manera full stack.
            </p>
</section>